.form-container{
    width: 450px;
    height: auto;
    border:  1px solid black;
    border-radius: 10px;
    margin: 30px auto;
    background-color: rgba(237, 234, 234, 0.558);

}
.form{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.form-container h3{
  text-align: center;
  font-size: 30px ;

}

.form-control label{
    display: block;
    margin-top: 20px;
    margin-bottom: 8px ;
    margin-left: 5px;
}
.form-control input {
    width: 350px;
    height:40px;
    border-radius: 8px ;
    padding: 0 10px ;
    
}
.btn-submit{
    width: 370px;
    height:48px;
    border-radius: 8px ;
    background-color: rgb(241, 225, 203);
    margin-top: 30px ;
 
}
.btn-submit:hover{
    background-color:rgb(213, 198, 178);
}
.btn-submit-google{
    width: 370px;
    height:48px;
    border-radius: 8px ;
    background-color: rgb(241, 225, 203);
    margin-top: 0;
    margin-bottom: 10px;
 
}
.btn-submit-google:hover{
    background-color: rgb(213, 198, 178);

}
.error{
    color: rgb(144, 7, 7);
}

.google{
    width: 30px;

}
.google-sign{
    border: 1px solid;
    width: 80%;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(241, 225, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px  ;

}

